---
all:
  children:
    imladris:
      hosts:
        # Local execution (from UserData / on-box)
        # localhost:
        #   ansible_connection: local
        #   ansible_python_interpreter: /usr/bin/python3

        # Remote execution (from Aurora over Tailscale SSH)
        imladris-1:
          ansible_host: 100.75.112.33
          ansible_user: ec2-user
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
